<!-- BOOK SECTION STARTING NOW -->
<a id="flipu" name="flipu"></a>

<div class="container-fluid">
    <div class="col-xs-12 flipu-container">
        
        <div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-5">
            <div class="flipu-section">
                <div class="flipu-image-container">
                    <img class="flipu-image"
                         src="./images/flipu/flipulogo.png" 
                         alt="flip U logo">
                </div>
                <div class="flipu-text">
                    <h3 class="flipu-title">ONLINE PROGRAMS</h3>
                    <ul>
                        <li>
                            <p>Social, interactive, online micro-learning design</p>
                        </li>

                        <li>
                            <p>Fresh, cutting-edge, pracademic</p>
                        </li>

                        <li>
                            <p>Essential interpersonal skills for today’s collaborative workplaces</p>
                        </li>
                    </ul>
                    
                    <a href="#our-services" class="btn btn-primary" role="button">FliP University</a>
                </div>
            </div>
        </div> 

        <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-5 col-md-offset-1">
            <div class="flipu-section">
                <div class="flipu-image-container">
                    <img class="flipu-image"
                     src="./images/flipu/goodmeeting.jpg" 
                     alt="Example of a good meeting">
                </div>
                
                <div class="flipu-text">
                    <h3 class="flipu-title">IN-PERSON PROGRAMS</h3>
                    <ul>
                        <li>
                            <p>Interactive, illuminating pracademic sessions from 75 minutes to multi-day</p>
                        </li>

                        <li>
                            <p>Perfect for a conference, offsite, or leadership team of any kind</p>
                        </li>

                        <li>
                            <p>Blends perfectly with FliP U online programs to leverage learning</p>
                        </li>
                    </ul>
                    
                    <a href="#our-services" class="btn btn-primary" role="button">Our services</a>
                </div>
            </div>
        </div>
    </div>
</div>  
