<footer class="site-footer container-fluid">
    <a id="connect-with-us" name="contact-us"></a>

    <div class="connect-wrapper col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <h3>Connect With Us:</h3>
        </div>
        <div class="smedia col-xs-3 col-sm-2 col-md-2">
            <a target="_blank" href="https://www.linkedin.com/company/flipskills-consulting">
                <img src="./images/smedia/linkedin.png" alt="LinkedIn">
            </a>
        </div>
        <div class="smedia col-xs-3 col-sm-2 col-md-2">
            <a target="_blank" href="https://www.facebook.com/LeadershipIsHalfTheStory">
                <img src="./images/smedia/facebook-round-icon.png" alt="Facebook">
            </a>
        </div>
        <div class="smedia col-xs-3 col-sm-2 col-md-2">
            <a target="_blank" href="https://twitter.com/FliPskills_com">
                <img src="./images/smedia/twitter-icon.png" alt="Twitter">
            </a>
        </div>
        <div class="smedia col-xs-3 col-sm-2 col-md-2">
            <a href="mailto:{{ site.email }}">
                <img src="./images/smedia/email.png" alt="Email US">
            </a>
        </div>
        <div class="subscribe-error">
            <p>Whoops! That doesn't appear to be a valid email.</p>
        </div>
        <form name="subscribe-form" action="#" class="subscribe-form" enctype="text/plain">
            <div class="col-xs-12 col-sm-7 col-md-7">
                <input type="text" name="email" placeholder="Enter your email here to subscribe to our monthly ideasletter" class="email">
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <input class="button" type="submit" value="Subscribe">
            </div>
        </form>
        <div class="subscribe-thank-you">
            <h3>Thank you for subscribing!</h3>
        </div>
    </div>

    <a id="contact-us" name="contact-us"></a>

    <div class="contact-us-wrapper col-xs-12 col-sm-10 col-sm-offset-1">

        <div class="address-wrapper col-xs-12 col-sm-4">
            <div class="col-xs-12">
                <br>
                <img src="./images/logo/logo.png" alt="FlipSkills">
                <h4>lives here...</h4>
            </div>
            <div class="col-xs-12 col-sm-12">
                <p class="description">Liberty Village</p>
                <p>Toronto, ON</p>
                <p>Canada</p>
                <p>{{ site.email }}</p>
                <br>
            </div>
            <div class="col-xs-12 col-sm-12">
                <p class="description">Give us a call</p>
                <p>{{ site.phone_number }}</p>
            </div>
        </div>

        <div class="form-wrapper col-xs-12 col-sm-8">
            <div class="form-error">
                <p>Please check that the form is completely filled out, with a valid name and email.</p>
            </div>

            <form name="conversation" action="#" class="ajax-form" ENCTYPE="text/plain">
                <div class="col-xs-12">
                    <p>What is your name?</p>
                </div>
                <div class="col-xs-12">
                        <input type="text" name="name" placeholder="Enter your name" class="name">
                </div>

                <div class="col-xs-12">
                    <p>What is your email?</p>
                </div>
                <div class="col-xs-12">
                    <input type="text" name="email" placeholder="Enter your email" class="email">
                </div>

                <div class="col-xs-12">
                    <p>Please enter your message</p>
                </div>
                <div class="col-xs-12">
                    <textarea cols="30" rows="4" name="message" class="message"></textarea>
                </div>
                <div class="col-xs-12">
                    <input type="submit" class="button" value="Let's start a conversation">
                </div>
            </form>

            <div class="form-thank-you">
                <h3>Thank you for contacting us!</h3>
                <p>We will be in touch with you shortly</p>
            </div>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="./js/smoothscroll.js"></script>
    <script type="text/javascript" src="./js/toggle.js"></script>
    <script type="text/javascript" src="./js/navbar.js"></script>
    <script type="text/javascript" src="./js/validate.js"></script>
    <script type="text/javascript" src="./js/dropdown.js"></script>
</footer>
