<footer class="site-footer">
  <div class="connect-wrapper col-md-8 col-md-offset-2">
    <div class="col-xs-12 col-sm-5 col-md-4">
      <h3>Connect With Us:</h3>
    </div>
    <div class="smedia col-xs-12 col-sm-2 col-md-2">
      <img src="./images/smedia/linkedin.png" alt="LinkedIn">
    </div>
    <div class="smedia col-xs-12 col-sm-2 col-md-2">
      <img src="./images/smedia/facebook-round-icon.png" alt="Facebook">
    </div>
    <div class="smedia col-xs-12 col-sm-2 col-md-2">
      <img src="./images/smedia/twitter-icon.png" alt="Twitter">
    </div>
    <div class="smedia col-xs-12 col-sm-2 col-md-2">
      <img src="./images/smedia/email.png" alt="Email US">
    </div>
    <form>
      <input class="email col-md-7" type="text" name="" placeholder="enter your email here to keep in touch">
      <input class="button col-md-4" type="submit" value="Subscribe">
    </form>
  </div>

  <div class="address-wrapper col-md-8 col-md-offset-2">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.linkedin }}">

              <span class="username">{{ site.linkedin }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter }}">
              
              <span class="username">{{ site.twitter }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</footer>
