<header class="site-header">
  <div class="hidden-xs" id="top-bar">
    <a target="_blank" href="https://www.linkedin.com/company/flipskills-consulting">
      <img src="./images/smedia/linkedin-1.png" alt="LinkedIn">
    </a>
    <a target="_blank" href="">
      <img src="./images/smedia/facebook.png" alt="Facebook">
    </a>
    <a target="_blank" href="">
      <img src="./images/smedia/twitter.png" alt="Twitter">
    </a>
    <a href="mailto:{{ site.email }}">
      <img src="./images/smedia/email-white.png" alt="Mailto">
    </a>
  </div>
  <div class="wrapper col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    
    <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <img id="menu" class="navtoggleimg" src="./images/menu.png"/>
          </button>
          <div class="col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-0 col-md-5">
            <a class="navbar-brand" href="#">
              <img id="logo" class="img-responsive" alt="FlipSkills">
            </a>
          </div>
        </div>
        <!-- Navbar -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right col-md-6">
            <li class="navbar-li">
              <a href="#book">THE BOOK</a>
            </li>
            <li class="navbar-li">
              <a href="#engage-us">ENGAGE US</a>
            </li>
            <li class="navbar-li">
              <a href="#meet-us">MEET US</a>
            </li>
            <li class="navbar-li">
              <a href="#why-followership">WHY FOLLOWERSHIP</a>
            </li>
            <li class="navbar-li">
              <a href="#resources">RESOURCES AND TOOLS</a>
            </li>
            <li class="navbar-li">
              <a href="#contact-us">CONTACT US</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
