<header class="site-header">

  <div class="wrapper">
    <div id="top-bar">
      <a href="">
        <img src="./images/smedia/linkedin-1.png" alt="LinkedIn">
      </a>
      <a href="">
        <img src="./images/smedia/facebook.png" alt="Facebook">
      </a>
      <a href="">
        <img src="./images/smedia/twitter.png" alt="Twitter">
      </a>
      <a href="">
        <img src="./images/smedia/email-white.png" alt="Mailto">
      </a>
    </div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
            <a class="navbar-brand" href="#">
              <img id="logo" class="img-responsive" src="./images/logo/flipandlogo.png" alt="FlipSkills">
            </a>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right col-md-3">
            <li><a href="#the-book">THE BOOK</a></li>
            <li><a href="#engage-us">ENGAGE US</a></li>
            <li><a href="#meet-us">MEET US</a></li>
            <li><a href="#why-followership">WHY FOLLOWERSHIP</a></li>
            <li><a href="#resources">RESOURCES AND TOOLS</a></li>
            <li><a href="#contact-us">CONTACT US</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  </div>

</header>
