<header class="site-header">
  <div id="top-bar">
    <a target="_blank" href="https://www.linkedin.com/company/flipskills-consulting">
      <img src="./images/smedia/linkedin-1.png" alt="LinkedIn">
    </a>
    <a target="_blank" href="">
      <img src="./images/smedia/facebook.png" alt="Facebook">
    </a>
    <a target="_blank" href="">
      <img src="./images/smedia/twitter.png" alt="Twitter">
    </a>
    <a href="mailto:{{ site.email }}">
      <img src="./images/smedia/email-white.png" alt="Mailto">
    </a>
  </div>
  <div class="wrapper col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="col-xs-8 col-sm-5 col-md-5">
            <a class="navbar-brand" href="#">
              <img id="logo" class="img-responsive" src="./images/logo/flipandlogo.png" alt="FlipSkills">
            </a>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right col-md-6">

            <li><a href="#book">THE BOOK</a></li>
            <li><a href="#engage-us">ENGAGE US</a></li>
            <li><a href="#meet-us">MEET US</a></li>
            <li><a href="#why-followership">WHY FOLLOWERSHIP</a></li>
            <li><a href="#resources">RESOURCES AND TOOLS</a></li>
            <li><a href="#contact-us">CONTACT US</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
