/**
 * Site header
 */

.site-header {
	height: 100%;
	#top-bar {
			background-color: $grey;
			img {
				width: 2em;
				height: auto;
				margin-left: 1em;
				padding: .2em;
			}
		}
	.wrapper {
		.navbar {
			background-color: #fff;
			border: none;
			.navbar-brand {
				#logo {
					margin-top: .5em;
				}
			}
			.navbar-header {
				height: 100%;
			}
			.navbar-right {
				li {
					float: right;
					a {
						padding: 0 .5em;
					}
				}
			}
		}
	}
}



/**
 * Index
 */





/**
 * Footer
 */

