/**
 * Site header
 */

.site-header {
	#top-bar {
		background-color: $grey;
		position: fixed;
		width: 100%;
		z-index: 1;
		img {
			width: 2em;
			height: auto;
			margin-left: 1em;
			padding: .2em;
		}
	}
	.container-fluid {
		padding-right: 15px;
		padding-left: 15px;
	}
	.wrapper {
		padding-top: 1em;
		border-bottom: .3em $dark-grey solid;
		box-shadow: 0 .5em 0 $grey;
		.navbar {
			background-color: #fff;
			border: none;
			.navbar-brand {
				height: 100%;
				#logo {
					padding: .5em;
					content:url(../images/logo/flipandlogo.png);
				}
			}
			.navbar-collapse {
				width: 100%;
			}
			.navbar-right {
				top: 4em;
				li {
					float: right;
					a {
						padding: 0 .5em;
					}
				}
			}
		}
	}
}



/**
 * Index
 */

.home {
	.subtitle {
		padding: 3em 0;
		p {
			color: $charcoal;
			text-align: justify;
			font-size: 1.3em;
			font-family: $gill;
			line-height: 1.3em;
			padding: 0px 1em;
			span {
				font-size: 1.1em;
				letter-spacing: .1em;
			}
		}
	}
	.book-section {
		padding: 0 0 3em;
		color: $grey;
		text-align: justify;
		font-family: $gill;
		font-size: .9em;
		.book-description {
			margin-top: 2em;
			#book-quote {
				text-align: center;
				font-size: 1.1em;
				color: $dark-grey;
			}
		}
		.book-image {
			img {
				padding-bottom: 1em;
			}
		}
		button {
			width: 100%;
			border-radius: 0;
			color: #fff;
			background-color: $navy;
			border: none;
			padding: .7em;
			font-family: $helvetica;
			font-size: 1.2em;
			margin-top: 1em;
		}
	}
	.endorsements-section {
		padding: 5em 0;
		border-top: 0.1em $light-grey solid;
		background-image: url("../images/graphics/quote-marks.png");
		background-repeat: no-repeat;
		p {
			color: $grey;
			font-family: $gill;
			margin-bottom: 0;
			font-size: .9em;
			padding-left: 2em;
		}
		#author {
			color: $dark-blue;
			margin-bottom: 4em;
		}
		a {
			text-align: center;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.engage-us-section {
		padding: 5em 0;
		border-top: 0.1em $light-grey solid;
		font-family: $gill;
		h3 {
			text-align: center;
			margin-bottom: 2.5em;
			color: $dark-grey;
		}
		p {
			margin-bottom: 2.5em;
			color: $grey;
		}
		h4 {
			color: $charcoal;
		}
		.inverse {
			text-align: right;
		}
		img {
			content: url(../images/graphics/puzzle/puzzle.png);
		}
	}
	.meet-us-section {
		padding: 5em 0;
		border-top: 0.1em $light-grey solid;
		font-family: $gill;
		color: $grey;
		h3 {
			text-align: center;
			margin-bottom: 2.5em;
			color: $dark-grey;
		}
		p {
			padding: 1em 0;
		}
		img {
			padding: .5em;
		}
	}
	.why-followership-section {
		padding: 5em 0;
		border-top: 0.1em $light-grey solid;
		font-family: $gill;
		color: $grey;
		h3 {
			text-align: center;
			margin-bottom: 2.5em;
			color: $dark-grey;
		}
		h5 {
			color: $dark-grey;
		}
		img {
			z-index: -1;
			position: relative; 
  	 		width: 100%;
		}
		.text-wrapper {
			position: absolute;
			top: 12em;
		}
	}
}



/**
 * Footer
 */

.site-footer {
	.connect-wrapper {
		padding: 6em 0;
		border-top: 0.1em $light-grey solid;
		border-bottom: 0.1em $light-grey solid;
		h3 {
		    font-family: $gill;
		    color: $dark-grey;
		}
		.smedia {
			padding-bottom: 6em;
			img {
				width: 4em;
				height: auto;
			}
		}
		form {
			input {
				text-align: center;
				padding: .4em;
				width: 100%;
			}
			.email {
				border: 0.2em $dark-grey solid;
			}
			.button {
				background-color: $navy;
				color: #fff;
				border: 0.2em $navy solid;
				font-family: $arial;
			}
		}
	}
	.address-wrapper {
		padding: 6em 0;
		h4 {
			color: $navy;
		}
		p {
			color: $grey;
			font-family: $arial;
			margin: 0;
			letter-spacing: 0.05em;
		}
		.description {
			color: $charcoal;
		}
	}
}






