/**
 * Site header
 */

@media (max-width: 992px) {
	.site-header {
		.wrapper {
			z-index: 1;
			padding: 0;
			border-bottom: none;
			box-shadow: none;
			.container-fluid {
				padding-right: 0;
				padding-left: 0;
			}
			.navbar {
				border-bottom: 1em $navy solid;
				a {
					border: none;
					#menu {
						padding-top: 2em;
						width: 5em;
					}
				}
				.navbar-brand {
					padding: 0;
					a {
						padding: 0;
					}
				}
				.navbar-header {
		        	float: none;
		    	}
		    	.navbar-toggle {
			        display: block;
			    }
			    .navbar-collapse.collapse {
			        display: none!important;
			    }
			    .navbar-collapse {
			        padding-left: 0;
			        padding-right: 0;
			    }
			    .navbar-collapse.collapse.in { 
			        display: block!important;
			    }
				.navbar-right {
					top: 0;
					margin-top: 0;
					background-color: $navy;
					border: none;
					padding-top: 2em;
					box-shadow: 0 1em 0 $navy;
					li {
						float: left;
						width: 100%;
						a {
							text-align: center;
							color: #fff;
							padding-bottom: 0.5em;
							margin: 0 2em 1em;
							font-size: 1.5em;
							// border-bottom: 0.1em $orange solid;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 800px) {
	.site-header {
		.wrapper {
			.container-fluid {
				padding-right: 15px;
				padding-left: 15px;
			}
			.navbar {
				a {
					#menu {
						padding-top: 0;
						width: 3em;
					}
				}
				.navbar-collapse {
			        padding-right: 15px;
					padding-left: 15px;
			    }
				.navbar-brand {
					#logo {
						content:url(../images/logo/logo.png);
					}
				}
			}
		}
	}
}

/**
 * Index
 */

@media (max-width: 800px) {

	.home {
		.subtitle {
			padding: 7em 0 0;
			p {
				padding: 0 .5em;
				span {
					letter-spacing: 0;
				}
			}
		}
		.book-section {
			padding: 2em 0;
			.book-description {
				padding: 0;
			}
			.book-buttons {
				padding: 0;
				button {
					margin-top: 2em;
					padding: 1em;
				}
			}
		}
		.endorsements-section {
			padding: 2em 0;
			// need knew way of showing quote
			background-image: none;
			#author {
				margin-bottom: 0;
			}
			img {
				padding: 1.5em 0;
			}
		}
		.engage-us-section {
			padding: 2em 0;
			.inverse {
				text-align: left;
			}
			img {
				//Need new puzzle image for this...
				content: none;
			}
		}
		.meet-us-section {
			padding: 2em 0;
			h3 {
				margin-bottom: 1em;
			}
			p {
				padding-top: 0;
			}
			img {
				padding: .1em;
			}
		}
		.why-followership-section {
			padding: 2em 0;
			h3 {
				margin-bottom: 1em;
			}
			h5 {
				text-align: center;
			} 
			.text-wrapper {
				position: relative;
				top: 0em;
			}
		}
	}
}



/**
 * Footer
 */

@media (max-width: 800px) {
	.site-footer {
		.connect-wrapper {
			padding: 3em 0 0;
			border-bottom: none;
			h3 {
				text-align: center;
				margin-bottom: 1em;
			}
			.smedia {
				padding-bottom: 2em;
				img {
					width: 90%;
				}
			}
			form {
				input {
					padding: .8em;
					margin: 1em 0;
					font-size: 1.2em;
				}
			}
		}
		.address-wrapper {
			h4 {
				font-size: 2em;
				text-align: center;
			}
			p {
				text-align: center;
				font-size: 1.2em;
			}
			.description {
				padding-top: 1.5em;
			}
		}
	}
}






