/**
 * Site header
 */

//Below is quite a drastic change
@media (max-width: 800px) {
  .site-header {
		height: 100%;
		#top-bar {
			background-color: $grey;
			img {
				width: 2em;
				height: auto;
				margin-left: 1em;
				padding: .2em;
			}
		}
		.wrapper {
			padding-bottom: .5em;
			border-bottom: .5em $grey solid;
			.navbar {
				background-color: #fff;
				border: none;
				.navbar-brand {
					#logo {
						margin-top: .5em;
					}
				}
				.navbar-header {
				}
				.navbar-right {
					li {
						float: right;
						a {
							padding: 0 .5em;
						}
					}
				}
			}
		}
	}
}




/**
 * Home
 */





/**
 * Footer
 */

@media (max-width: 800px) {
	.site-footer {
		.connect-wrapper {
			padding: 3em 0 0;
			border-bottom: none;
			h3 {
				text-align: center;
				margin-bottom: 1em;
			}
			.smedia {
				padding-bottom: 2em;
				img {
					width: 100%;
				}
			}
			form {
				input {
					padding: .8em;
					margin: 1em 0;
					font-size: 1.2em;
				}
			}
		}
		.address-wrapper {
			h4 {
				font-size: 2.5em;
				text-align: center;
			}
			p {
				text-align: center;
				font-size: 1.7em;
			}
			.description {
				padding-top: 2em;
			}
		}
	}
}






