/**
 * Resource Page
 */


@import "../base/reset";


.overlay-header {
	background: white;
	z-index: 1;
	width: 100%;
	border-bottom: 0.1em $light-grey solid;
	position: fixed;
	top: 0;
	#logo {
		width: 15em;
		height: auto;
		padding: 1em 0;
	}
	.close-wrapper {
		float: right;
	}
	.close {
		float: none;
		height: 2em;
		width: 0.1em;
		margin-left:1em;
		background-color: $dark-blue;
		transform: rotate(45deg);
		-ms-transform: rotate(45deg); /* IE 9 */
		-webkit-transform: rotate(45deg); /* Safari and Chrome */
		Z-index:10;
		opacity: 1;
		margin: 1.4em 1em 0;
		&:hover {
			background-color: $orange;
			opacity: 1; 
		}
		div {
			height: 2em;
			width: 0.1em;
			background-color: $dark-blue;
			transform: rotate(90deg);
			-ms-transform: rotate(90deg); /* IE 9 */
			-webkit-transform: rotate(90deg); /* Safari and Chrome */
			&:hover {
				background-color: $orange;
				opacity: 1; 
			}
		}
	}
}

.resources-container {
		padding: 10em 0 5em;;
		.thumbnail {
			max-width: 30em;
			padding: 1em;
			margin: 1em auto;
			overflow: hidden;
			img {
				width: 92%;
			}
		}
		h2 {
			@include title;
		}
		p {
			@include p;
		}
		.resource-date {
			color: $dark-grey;
		}
		h4 {
			@include subtitle;
		}
		.link-to-resource {
			text-align: center;
			color: $charcoal;
		}
		.link-to-resources {
			margin-top: 2em;
			text-align: center;
			color: $dark-blue;
		}
	}