/**
 * Endorsements Section
 */

@import "../base/reset";

.scroll {
	height: 30em;
	overflow: hidden;
	overflow-y: scroll;
}
.endorsements-section {
	padding: 5em 0;
	border-top: 0.1em $light-grey solid;
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	p {
		@include p;
		margin-bottom: 0;
		padding-left: 2em;
	}
	#author {
		color: $dark-blue;
		margin-bottom: 4em;
	}
	a {
		@include a;
		text-align: center;
	}
	.circle {
		border-radius: 50%;
		padding: 1.5em;
		display: block;
	    margin-left: auto;
	    margin-right: auto
	}
	.quotation-marks {
		position: absolute;
		z-index: -1;
		top: -0.6em;
		left: 0;
	}
	#flip {
		top: 1.4em;
		left: initial;
		right: 1em;
	}
}

@media (max-width: 768px) {
	.endorsements-section {
		padding: 3em 0;
		background-image: none;
		.endorsement {
			padding: 0;
		}
		p {
			padding: 0;
		}
		#author {
			margin-bottom: 0;
		}
		img {
			padding: 1.5em 0;
		}
		.quotation-marks {
			top: -1.9em;
		}
	}
}