/**
 * Meet Us Section
 */

@import "../base/reset";

.meet-us-section {
	padding: 5em 0;
	border-top: 0.1em $light-grey solid;
	h2 {
		@include title;
	}
	p {
		@include p;
		padding: 1em 0;
	}
	img {
		padding: .5em;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	#marc {
		p {
			text-align: right;
		}
	}
}

@media (max-width: 992px) {
	.meet-us-section {
		#marc {
			p {
				text-align: left;
			}
		}
	}
}

@media (max-width: 768px) {
	.meet-us-section {
		padding: 2em 0;
		h2 {
			margin-bottom: 1em;
		}
		p {
			padding-top: 0;
		}
		img {
			padding: 0 1em 1em 0;
		}
	}
}