/**
 * Resource Section
 */

@import "../base/reset";

.resources-section {
	padding: 3em 0;
	padding-right: 0 !important;
    padding-left: 0 !important;
	border-top: 0.1em $light-grey solid;
	.thumbnail {
		border-color: $grey;
		max-width: 30em;
		padding: 1em;
		margin: 1em auto;
		overflow: hidden;
		height: 38em
		img {
			width: 92%;
		}
	}
	h2 {
		@include title;
	}
	p {
		@include p;
	}
	.resource-date {
		color: $dark-grey;
	}
	h4 {
		@include subtitle;
	}
	.link-to-resource {
		text-align: center;
		color: $charcoal;
	}
	.link-to-resources {
		margin-top: 2em;
		text-align: center;
		color: $dark-blue;
	}
}

@media (max-width: 992px) {
	.resources-section {
		.thumbnail {
			height: 45em;
		}
	}
}

@media (max-width: 768px) {
	.resources-section {
		padding: 2em 0;
		.thumbnail {
			height: 44em;
		}
		
	}
}