<div class="book-preview">

    {% include head.html %}

    <header class="book-preview-header container-fluid">
                <div class="close-wrapper">
                    <div class="close">
                        <div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </header>

    <div class="page-content">
        <div class="container-fluid">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}

</div>
