<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="page-content" class="page-content">
      <div class="wrapper">

        <div class="home" id="home">
          <div class="subtitle col-md-8 col-md-offset-2">
            <h6>We work with organizations all over the globe to fuel collaboration, enhance creativity, and develop today’s essential workplace capabilities: <span>F</span>ollowership, <span>l</span>eadership, <span>i</span>nnovation & <span>P</span>artnership skills.</h6>
          </div>
          
          {% include book.html %}

          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
