/**
 * Footer
 */

@import "../base/reset";


.site-footer {
	.connect-wrapper {
		padding: 6em 0;
		border-top: 0.1em $light-grey solid;
		border-bottom: 0.1em $light-grey solid;
		h3 {
		    font-family: $gill;
		    color: $dark-grey;
		}
		.smedia {
			padding-bottom: 6em;
			img {
				width: 4em;
				height: auto;
			}
		}
		form {
			input {
				text-align: center;
				padding: .4em;
				width: 100%;
			}
			.email {
				border: 0.12em $light-grey solid;
			}
			.button {
				border-radius: 0;
			    width: 100%;
			    color: #fff;
			    font-family: $helvetica;
			    background-color: $navy;
				border: 0.2em $navy solid;
				&:hover {
			        border: 0.2em $blue solid;
			        background-color: $blue;
			    }
			}
		}
		.error { 
			border: 3px solid $orange !important; 
		}
		.subscribe-thank-you {
		  	display: none;
		  	width: 100%;
		  	text-align: center;
			h3 { 
				padding-top: 2em; 
			}
		}
		.subscribe-error {
		  	display: none;
		  	width: 100%;
		  	text-align: center;
		  	p {
		  		color: $orange;
		  		margin: 0;
		  	}
		}
	}
	.contact-us-wrapper {
		padding: 5em 0;
		font-family: $gill;
		h2 {
			@include title;
		}
		.address-wrapper {
			h4 {
				color: $navy;
			}
			p {
				@include p;
				margin: 0;
				letter-spacing: 0.05em;
			}
			.description {
				color: $charcoal;
			}
			img {
				width: 12em;
			}
		}
		.form-wrapper {
			input, textarea {
				width: 100%;
				border: 0.12em $light-grey solid;
			}
			p {
				@include p;
				color: $navy;
				letter-spacing: 0.05em;
				margin: 1em 0 .5em;
			}
			.button {
				@include button;
				padding: .6em;
			}
		}
		.error { 
			border: 3px solid $orange !important; 
		}
		.form-thank-you {
		  	display: none;
		  	width: 100%;
		  	text-align: center;
			h3 { 
				padding-top: 2em; 
			}
		}
		.form-error {
		  	display: none;
		  	width: 100%;
		  	text-align: center;
		  	p {
		  		color: $orange;
		  		margin: 0;
		  	}
		}
	}
	
}


/**
 * Footer
 */

@media (max-width: 768px) {
	.site-footer {
		.connect-wrapper {
			padding: 3em 0;
			border-bottom: none;
			h3 {
				text-align: center;
				margin-bottom: 1em;
			}
			.smedia {
				padding-bottom: 2em;
				img {
					width: 90%;
				}
			}
			form {
				input {
					padding: .8em;
					margin: 1em 0;
				}
			}
		}
		.contact-us-wrapper {
			.address-wrapper {
				text-align: center;
				padding-bottom: 3em;
			}
			.form-wrapper {
				input, textarea, .button {
					padding: .8em;
					margin: 1em 0;
				}
				p {
					letter-spacing: 0.05em;
					margin: 0;
				}
			}
		}
	}
}

