/**
 * Site header
 */

@import "../base/reset";

.site-header {
	#top-bar {
		background-color: $grey;
		position: fixed;
		width: 100%;
		z-index: 1;
		img {
			width: 2em;
			height: auto;
			margin-left: 1em;
			padding: .2em;
		}
	}
	.wrapper {
		padding-top: 1em;
		border-bottom: .3em $dark-grey solid;
		box-shadow: 0 .5em 0 $grey;
		height: 100%;
		.navbar {
			background-color: #fff;
			border: none;
			.navbar-brand {
				height: 100%;
				#logo {
					padding: .5em;
					content:url(../images/logo/flipandlogo.png);
				}
			}
			.navbar-collapse {
				width: 100%;
			}
			.navbar-menu {
				text-align: right;
				margin-top: 3em;
				a {
					@include a;
					padding: 0 .5em;
					color: $dark-grey;
					font-size: 1em;
					font-family: $helvetica;
					font-weight: 500;
					&:hover {
						color: $orange;
					}
				}
				span {
					color: $dark-grey;
				}
			}
			.collapsing {
				border: none;
			}
		}
	}
}

@media (max-width: 992px) {
	.site-header {
		.wrapper {
			z-index: 1;
			padding: 0;
			border-bottom: none;
			box-shadow: none;
			.container-fluid {
				padding-right: 0;
				padding-left: 0;
			}
			.navbar {
				height: 7.5em;
				a {
					border: none;
					margin-top: 1.5em;
					#menu {
						width: 2.5em;
					}
				}
				.arrow-up {
					width: 0;
					height: 0;
					border-left: 2.2em solid transparent;
					border-right: 2.2em solid transparent;
					border-bottom: 2.7em solid #06215A;
					position: absolute;
					top: 5.1em;
					right: 1em;
				}
				.line {
					width: 100%;
					box-shadow: 0 1em 0 $navy;
					float: right;
					display: list-item;
					position: relative;
					top: -1em;
				}
				.navbar-brand {
					padding: 0;
					margin-top: 0;
					a {
						padding: 0;
					}
					#logo {
						max-width: none;
						width: 12em;
					}
				}
				.navbar-header {
		        	float: none;
		        	position: absolute;
		        	width: 100%;
		    	}
		    	.navbar-toggle {
			        display: block;
			    }
			    .navbar-collapse.collapse {
			        display: none!important;
			    }
			    .navbar-collapse {
			        padding-left: 0;
			        padding-right: 0;
			    }
			    .navbar-collapse.collapse.in { 
			        display: block!important;
			    }
				.navbar-right {
					width: 50%;
					top: 0;
					margin-top: 0;
					background-color: $navy;
					border: none;
					padding-top: 1em;
					box-shadow: 0 1em 0 $navy;
					margin-right: 0;
					margin-left: 0;
					li {
						float: left;
						width: 100%;
						a {
							text-align: center;
							color: #fff;
							padding-bottom: 0.5em;
							margin: 0 2em 0.8em;
							border-bottom: 0.2em $dark-blue solid;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.site-header {
		.wrapper {
			.container-fluid {
				padding-right: 15px;
				padding-left: 15px;
			}
			.navbar {
				height: 4em;
				a {
					margin-top: 0.5em;
					margin-bottom: 0;
					padding: 0.3em 0 0;
					#menu {
						margin-top: 0;
						width: 2em;
					}
				}
				.arrow-up {
					border-left: 1em solid transparent;
					border-right: 1em solid transparent;
					border-bottom: 1.3em solid #06215A;
					top: 2.7em;
					right: 1.1em;
					position: fixed;
				}
				.navbar-collapse {
			        padding-right: 15px;
					padding-left: 15px;
					position: relative;
					top: -1.3em;
					border-top: none;
			    }
				.navbar-brand {
					#logo {
						width: 6em;
						content:url(../images/logo/logo.png);
					}
				}
				.navbar-header {
					width: 105%;
				}
				.navbar-right {
					width: 70%;
					float: right;
					margin-right: -15px;
					margin-left: -15px;
					padding-top: 1em;
					li {
						a {
							padding: 0.3em;
							margin: 0 0 0.5em 1em;
						}
					}
				}
				.line {
					top: -1.5em;
					box-shadow: 0 0.7em 0 #06215A;
				}
			}
		}
	}
}
