/**
 * Colours
 */

$charcoal: #202020;
$dark-grey: #454545;
$grey: #888888;
$light-grey: #a9a9a9;
$lightest-grey: #c8c8c8;

$navy: #06215A;
$dark-blue: #0f3567;
$blue: #1958A8;
$light-blue: #75a5e3;
$lightest-blue: #b4d1f4;

$burnt-orange: #95460c;
$dark-orange: #be611c;
$orange: #ef7921;
$light-orange: #f79c58;
$lightest-orange: #f6c29a;
