/**
 * Reset some basic elements
 */

@import "colour",
        "typography";

body, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    font-family: $lato;
}

/**
 * Basic Mixins
 */

@mixin title {
    font-family: $arial;
    font-size: 2em;
    color: $dark-grey;
    text-align: center;
    margin-bottom: 1em;
}

@mixin emphasize {
    font-size: 1em;
    color: $dark-grey;
}

@mixin quote {
    font-size: 1.2em;
    color: $dark-grey;
}

@mixin subtitle {
    font-size: 1.2em;
    color: $charcoal;
    font-family: $gill;
}

@mixin p {
    font-size: 1em;
    color: $grey;
}

@mixin button {
    border-radius: 0;
    width: 100%;
    font-family: $helvetica;
    font-size: 1em;
    background-color: $navy;
    border: none;
    color: #fff;
    padding: .7em;
    margin-top: 1em;
    &:hover {
        background-color: $blue;
        color: white;
    }
}

button {
    border-radius: 0;
    width: 100%;
    font-family: $helvetica;
    font-size: 1em;
    background-color: $navy;
    border: none;
    color: #fff;
    padding: .7em;
    margin-top: 1em;
    &:hover {
        background-color: $blue;
        color: white;
    }
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Links
 */
@mixin a {
    text-decoration: none;
    &:visited {
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
